{{!-- ABout section starts --}}
    <div class="container-fluid mt-5 about-style" id="aboutid">
     <div class="row">
       <div class="col-md-10 col-12 mx-auto">
           <h1 class="text-center main-heading">About Us</h1>
           <p class="text-center sub-heading">Grow Your Business With Me</p>
         <div class="row">
            {{!-- left side --}}
           <div class="col-md-6 col-12 hero-text">
            <figure>
              <img src="images/about.svg" alt="herosection-image">
            </figure>
           </div>
          
           {{!-- Right side --}}
            <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
             <h1>WE ARE THE PROFESSIONAL <b>DEVELOPERS</b></h1>
             <p>We Provides You the Best Technology Related Stuff. <span class="bold-style">Rebsatisfy</span>. Technology News, 
             Upcoming Smartphones Reviews ,Coding and Programming Tutorials, It’s Help You to improve Your Programming Skills. 
             We also have Youtube channel based on Programming Related Content You can Also check it out the channel Name is DnyaneshcTech.
             DnyaneshcTech founded in November 2020 .</p>
             <button class="btn-style btn-primary">Read More</button>
           </div>
         </div>
       </div>
     </div>
   </div>
   {{!-- about section ends --}}